@tailwind base;
@tailwind components; 
@tailwind utilities;
 
@layer base {
  :root {
    --dark-indigo: #11092B;
    --accent: #B9E368;
    --electric-violet: #884BEF;

    --light-background: #ECECEC;
    --light-foreground: #11092B;
    --light-border: #11092B;
    --light-chapeau: #433D56;

    --dark-background: #0A081F;
    --dark-foreground: #E6E5EA;
    --dark-border: #E6E5EA;
    --dark-chapeau: #958EAA;
    --dark-stroke: #5C49A63B;

    --container-padding: 5%;
  }
}
 
@layer base {
  body {
    @apply bg-light-background text-light-foreground;
  }

  .custom-gradient {
    background: linear-gradient(218deg, rgba(178, 157, 223, 0.09) -56.73%, rgba(243, 238, 252, 0.03) 78.26%);
  }

  .text-gradient {
   @apply bg-gradient-to-r from-[#D4D3D9] to-[#E5E4E8] bg-clip-text text-transparent
  }


  .container-padding {
    @apply px-[5%] lg:px-0
  }

  .bg-glassy {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.40) inset;
    background: linear-gradient(180deg, #8460E9 0%, #541EAC 100%);
  }
}
